<!DOCTYPE html>
<html>
<head>
    <title>Buy Missing Ingredients Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 75%;
            padding: 15px;
            margin: auto;
        }
        .buy-ingredients {
            margin-top: 50px;
        }
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">SnapCook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('myFridge') }}">My Fridge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cameraScanner') }}">Add Item</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="buy-ingredients">
            <h2 class="buy-ingredients-heading">SnapCook</h2>
            <p>Here are the ingredients you need to buy:</p>
            <form>
                <ul>
                    {% for ingredient in missing_ingredients %}
                        <li>
                            <input type="checkbox" id="{{ ingredient }}" name="{{ ingredient }}">
                            <label for="{{ ingredient }}">{{ ingredient }}</label>
                        </li>
                    {% endfor %}
                </ul>
                <p>Friendly Reminder: Check off items as you buy them!</p>
            </form>
        </div>
    </div>
</body>
</html>