<!DOCTYPE html>
<html>
<head>
    <title>Buy Missing Ingredients Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .buy-ingredients {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="buy-ingredients">
            <h2 class="buy-ingredients-heading">SnapCook</h2>
            <p>Here are the ingredients you need to buy:</p>
            <ul>
                <li>Milk</li>
                <li>Eggs</li>
                <li>Butter</li>
                <li>Carrots</li>
                <li>Apples</li>
            </ul>    
            </p>Friendly Reminder: Check off items as you buy them!</p>
        </div>
    </div>
</body>
</html>
