<!DOCTYPE html>
<html>
<head>
    <title>Buy Missing Ingredients Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 75%;
            padding: 15px;
            margin: auto;
        }
        .buy-ingredients {
            margin-top: 50px;
        }
    </style>
</head>
<body>
	<a href="{{ url_for('home') }}" class="btn btn-primary mt-3" style="position: fixed">Back to Home</a>
    <div class="container">
        <div class="buy-ingredients">
            <h2 class="buy-ingredients-heading">SnapCook</h2>
            <p>Here are the ingredients you need to buy:</p>
            <form>
                <ul>
                    {% for ingredient in missing_ingredients %}
                        <li>
                            <input type="checkbox" id="{{ ingredient }}" name="{{ ingredient }}">
                            <label for="{{ ingredient }}">{{ ingredient }}</label>
                        </li>
                    {% endfor %}
                </ul>
                <p>Friendly Reminder: Check off items as you buy them!</p>
            </form>
        </div>
    </div>
</body>
</html>