<!DOCTYPE html>
<html>
<head>
    <title>Recipe Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .recipe {
            margin-top: 50px;
        }
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">SnapCook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('myFridge') }}">My Fridge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cameraScanner') }}">Add Item</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="recipe">
            <h2 class="recipe-heading">{{ recipe.recipeName }}</h2>
            <p><strong>Estimated Time for Preparation:</strong> {{ recipe.etp }} minutes</p>
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h3>Instructions</h3>
            <p>{{ recipe.Instruction }}</p>
			<a href="{{ url_for('missingIngredients', recipe_id=recipe._id) }}" class="btn btn-primary">Buy Missing Ingredients</a>
        </div>
    </div>
</body>
</html>