<!DOCTYPE html>
<html>
<head>
    <title>Recipe Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .recipe {
            margin-top: 50px;
        }
        nav {
            text-align: center;
        }
    </style>
</head>
<body>
	<nav>
        <a class="btn btn-primary mt-3" href="{{ url_for('home') }}" style="width:32%">Home</a>
        <a class="btn btn-primary mt-3" href="{{ url_for('myFridge') }}" style="width:32%">My Fridge</a>
        <a class="btn btn-primary mt-3" href="{{ url_for('cameraScanner') }}" style="width:32%">Add Item</a>
    </nav>
    <div class="container">
        <div class="recipe">
            <h2 class="recipe-heading">{{ recipe.recipeName }}</h2>
            <p><strong>Estimated Time for Preparation:</strong> {{ recipe.etp }} minutes</p>
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h3>Instructions</h3>
            <p>{{ recipe.Instruction }}</p>
			<a href="{{ url_for('missingIngredients', recipe_id=recipe._id) }}" class="btn btn-primary">Buy Missing Ingredients</a>
        </div>
    </div>
</body>
</html>